body {
    background: #aef9ee;
}

.dino {
    width: 80px;
    height: 80px;
    background-image: url(dino.png);
    background-size: 80px;
    position: absolute;
    bottom: 0;
}


.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background: url(cactus.png);
}

.game-over {
    text-align: center;
    margin-top: 70px;
    font-family: 'Courier New', Courier, monospace;
}

.restart {
    align-content: center;
    margin-top: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 150%;
    color: rgb(31, 60, 56);
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }

    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(background.png);
    background-repeat: repeat-x;
    animation: slideright 900s infinite linear;
    width: 100%;
    height: 200px;
}